.root {
  padding:0;
  margin:0;
  list-style: none;
  background-color:white;
  width:100%;
  display: flex;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 0px 0px 0 rgba(0, 0, 0, 0.19);    
  font-family: roboto,sans-serif;
  font-size: 20px;
  font-weight:400;
}
.root> li> a{
  color:#666;
  text-decoration:none;
  font-size:14px;
}

.root > li > a:hover {
  color: red;
}
:global(.li--Blue) > li > a:hover{
  color: #222
}
.root > li {
  padding:3.5vh;
}
.root > li:nth-child(2){
  margin-right:auto;
}




